<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title> <!--重置密码弹窗-->
		<link rel="stylesheet" href="/Public/home/css/public.css" />
		<link rel="stylesheet" href="/Public/home/login/css/popup_password_reset.css" />
	</head>
	<body>
		<form id="popup-password-reset" action="" method="post">
			<img src="/Public/home/login/img/close.png" class="children-close" />
			<div class="children-title">重置密码</div>
			<input type="password" class="children-password" placeholder="请输入密码" />
			<input type="password" class="children-password" placeholder="请再次输入密码" />
			<input type="submit" class="children-reset" value="确认修改" />
		</form>
	</body>
</html>
<script language="javascript">
            function check(){
                var userPwReal="${sessionScope.admin.apassword}";
                if(document.formPw.apassword.value !=userPwReal){
                    alert("原密码不正确");
                    return ;
                }
                if(document.formPw.userPw1.value ==""){
                    alert("新密码不能空");
                    return ;
                }
                if(document.formPw.userPw1.value != document.formPw.userPw2.value){
                    alert("两次输入的密码不一致");
                    return ;
                }
            }
</script>
 <!-- 
<tr bgcolor="#FFFFFF"> 
	<td width="25%" bgcolor="#FFFFFF" align="right"> 登录名： </td> 
	<td width="75%" bgcolor="#FFFFFF"> 
		<input type="text" value="${sessionScope.admin.aname }" name="admin.aname" size="20" readonly/>
	</td>
</tr> 
<tr bgcolor="#FFFFFF"> 
<td width="25%" bgcolor="#FFFFFF" align="right"> 原密码： </td> 
<td width="75%" bgcolor="#FFFFFF"> 
<input type="password" id="apassword" size="22"/> 
</td> 
</tr> 
<tr bgcolor="#FFFFFF"> 
<td width="25%" bgcolor="#FFFFFF" align="right"> 新密码： </td> 
<td width="75%" bgcolor="#FFFFFF"> 
<input type="password" id="userPw1" size="22"/> 
</td> 
</tr> 
<tr bgcolor="#FFFFFF"> 
<td width="25%" bgcolor="#FFFFFF" align="right"> 确认密码： </td> 
<td width="75%" bgcolor="#FFFFFF"> 
<input type="password" name="userPw2" size="22"/> 
</td> 
</tr> 
<tr bgcolor="#FFFFFF"> 
<td width="25%" bgcolor="#FFFFFF" align="right">  </td> 
<td width="75%" bgcolor="#FFFFFF"> 
<input type="button" value="修改" onclick="check()"/>  
<input type="reset" value="重置"/> 
<img id="indicator" src="img/loading.gif" alt="Loading..." style="display:none"/> 
</td> 
</tr>
 -->
