body{
	background-color: #fff !important;
}
#popup-login-box{
	position: fixed;
	left: 0;
	right: 0;
	margin: 40px auto 0;
	width: 415px;
	height: 415px;
	background-color: #fff;
	border-radius: 6px;
	-moz-box-shadow: 1px 1px 6px rgba(0,0,0,.2);
	-webkit-box-shadow: 1px 1px 6px rgba(0,0,0,.2);
	box-shadow: 1px 1px 6px rgba(0,0,0,.2);
	-moz-transition: height .5s ease;
	-webkit-transition: height .5s ease;
	transition: height .5s ease;
}
#popup-login-box a{
	display: block;
	text-decoration: none;
}
#login-children-close{
	display: block;
	position: absolute;
	right: 18px;
	top: 18px;
	width: 14px;
	height: 14px;
	cursor: pointer;
}
#login-children-title{
	margin: 10px 15px 0;
	height: 50px;
	line-height: 50px;
	color: #f2499d;
	border-bottom: 2px solid #f2499d;
	font-size: 20px;
	padding-left: 30px;
}


.yzm-box{
	margin: 62px 48px 0;
	height: 42px;
	/*background-color: red;*/
}
.yzm-box input{
	display: block;
	width: 100%;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-right: none !important;
}
.yzm-box .input-cha-text{
	display: block;
	float: left;
	width: 208px;
}
.yzm-box .yzm-but{
	float: left;
	width: 110px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	background-color: #f2499d;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	cursor: pointer;
}
/* page-box1 */
.page-box1{
	height: 322px !important;
}
.page-box1 .yzm-box{
	display: none !important;
}
.page-box1 .tel-email-box{
	margin-top: 40px !important;
}
.page-box1 #login-children-login{
	margin-top: 30px !important;
}
/* page-box2 */
.page-box2 .yzm-box{
	display: block !important;
}
.page-box2 .tel-email-box{
	margin-top: 16px !important;
}
/* page-box3 */
.page-box3{
	height: 322px !important;
}
.page-box3 .yzm-box{
	display: none !important;
}
.page-box3 .tel-email-box{
	margin-top: 40px !important;
}
.page-box3 #login-children-login{
	margin-top: 30px !important;
}

.tel-email-box{
	position: relative;
	margin: 16px 48px 0;
	-moz-transition: margin-top .5s ease;
	-webkit-transition: margin-top .5s ease;
	transition: margin-top .5s ease;
}
.tel-email-box .input-cha-text-style{
	top: 29px;
}
.tel-email{
	margin: 16px 0 0;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #ccc;
}
.yzm-box input, .tel-email{
	height: 42px;
	line-height: 42px;
	padding-left: 10px;
	color: #999;
	font-size: 16px;
	border: 1px solid #999;
	background-color: transparent;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.750);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.yzm-box input:focus, .tel-email:focus{
	border-color: #f2499d;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(242, 73, 157, .5);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(242, 73, 157, .5);
}

#login-children-login{
	display: block;
	border: none;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	background-color: #f2499d;
	margin: 55px 48px 0;
	border-radius: 3px;
	width: 320px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	cursor: pointer;
}
#login-children-restsLogin{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	border-top: 1px solid #f5f5f5;
	
}
#login-children-restsLogin span{
	display: block;
	float: left;
	margin: 20px 0 0 48px;
	font-size: 14px;
	color: #666;
	height: 22px;
	line-height: 22px;
}
#login-children-restsLogin .login-children-loginIco{
	display: block;
	float: left;
	width: 22px;
	height: 22px;
	margin: 20px 0 0 5px;
}
#login-children-restsLogin img{
	display: block;
	width: 22px;
	height: 22px;
}
#login-children-register{
	float: right;
	color: #2E8AE5;
	font-size: 14px;
	height: 22px;
	line-height: 22px;
	margin: 20px 48px 0 0;
}
