body{
	background-color: #fff !important;
}
#popup-password-reset{
	position: fixed;
	left: 0;
	right: 0;
	top: 100px;
	margin: 0 auto;
	background-color: #F5F5F5;
	width: 420px;
	height: 300px;
	
}
#popup-password-reset .children-close{
	position: absolute;
	right: 20px;
	top: 20px;
	width: 14px;
	height: 14px;
	
}
#popup-password-reset .children-title{
	margin: 0 20px;
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	color: #666;
	padding-left: 5px;
	font-weight: 600;
	border-bottom: 1px solid #f2499d;
}
#popup-password-reset .children-password{
	display: block;
	margin: 30px 48px 15px;
	width: 325px;
	height: 44px;
	line-height: 44px;
	color: #999;
	font-size: 16px;
	padding-left: 10px;
	border: 1px solid #999;
	border-radius: 3px;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.750);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#popup-password-reset .children-password:focus{
	border-color: #f2499d;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(242, 73, 157, .5);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(242, 73, 157, .5);
}
#popup-password-reset .children-password:nth-child(4){
	margin: 0 48px 30px;
}
#popup-password-reset .children-reset{
	display: block;
	margin: 0 48px;
	width: 325px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	border: none;
	border-radius: 4px;
	color: #fff;
	background-color: #f2499d;
	cursor: pointer;
	-o-transition: transition: background-color .5s ease;
	-moz-transition: transition: background-color .5s ease;
	transition: background-color .5s ease;
}
#popup-password-reset .children-reset:hover{
	background-color: #DF4190;
}
