<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>起始页</title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="/admin/styles/general.css" rel="stylesheet" type="text/css" />
<link href="/admin/styles/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Public/jquery-1.8.3.min.js"></script>
<script src="/Public/plugin/layer/layer.js"></script>
<script type="text/javascript" src="/Public/koko.js"></script>

</head>
<body>

<h1>
<span class="action-span1"><a href="index.php?act=main">管理中心</a> </span><span id="search_id" class="action-span1"> </span>
<div style="clear:both"></div>
</h1>
<div class="list-div">
	<div class="important">
    	<ul class="import">
        	<li class="import_1">
            	<div class="module">
            		<i></i>
                	<div class="detail">
                		<strong>{$today['sum']}</strong>
                		<span>今日销售总额</span>
                	</div>
                </div>
            </li>
            <li class="import_2">
            	<div class="module">
            		<i></i>
                	<div class="detail">
                		<strong>{$today['order']}</strong>
                		<span>今日订单数</span>
                	</div>
                </div>
            </li>
            <li class="import_3">
            	<div class="module">
            		<i></i>
                	<div class="detail">
                		<strong>{$today['register']}</strong>
                		<span>今日注册会员</span>
                	</div>
                </div>
            </li>
            <li class="import_4">
            	<div class="module">
            		<i></i>
                	<div class="detail">
                		<strong>{$today['login']}</strong>
                		<span>今日登陆会员</span>
                	</div>
                </div>
            </li>
            <li class="import_5">
            	<div class="module">
            		<i></i>
                	<div class="detail">
                		<strong>{$today['goods_new']}</strong>
                		<span>今日新增商品数</span>
                	</div>
                </div>
            </li>
        </ul>
    </div>
</div>
<br>

</body>
</html> 